<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">

    <h1 class="title">Questions</h1>
  </ion-header-bar>
  <ion-content padding="true" style="background: url(img/s5.jpg) no-repeat center;" class="padding" scroll="false">

<br>
<br>
    <button class="button button-block button-stable" type="button"  ng-model="qdata.q1"   ng-click="q1Display()">
      Question - 01
    </button>


    <button class="button button-block button-calm" ng-click="q2Display()" >
      Question - 02
    </button>


    <button class="button button-block button-positive">
      Question - 03
    </button>

    <button class="button button-block button-balanced">
      Question - 04
    </button>

    <button class="button button-block button-energized">
    Question - 05
    </button>

    <button class="button button-block button-assertive">
      Question - 06
    </button>

    <button class="button button-block button-royal">
        Question - 07
    </button>

    <button class="button button-block button-dark">
      Question - 08
    </button>
    <br>




  </ion-content>

</ion-view>
