<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">intro์</h1>
  </ion-header-bar>


  <ion-content padding="true" style="background: url(img/b15.jpg) no-repeat center;" class="padding" scroll="false">
<br>
    <center><h3><b>Welcome</b></h3></center>
<br>

<br>


  <a href="#/tab/search"  button class="button button-block button-balanced">
Theory
</button>

<a href="#/tab/add" button class="button button-block button-energized">
Questions
</button>








  </ion-content>


</ion-view>
