<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">

    <h1 class="title">Create Account</h1>
  </ion-header-bar>


    <ion-content padding="true" style="background: url(img/b15.jpg) no-repeat center;" class="padding" scroll="false">


      <form ng-submit="adduser()" ng-controller="signupCtrl">
        <div class="list">
          <label class="item item-input">
            <span class="input-label"></span>
            <input type="text"  placeholder="email" ng-model="sdata.email">
          </label>
          <label class="item item-input">
            <span class="input-label"></span>
            <input type="text"  placeholder="username" ng-model="sdata.uname">
          </label>
          <label class="item item-input">
            <span class="input-label"></span>
            <input type="password"  placeholder="password"  ng-model="sdata.pw">
          </label>

          <div class="list">

            <label class="item item-input item-select">
              <div class="input-label">
              Select
              </div>
              <select ng-model="sdata.singleSelect">
                <option  value="">Select Gender</option>
                <option  value="male">Male</option>
                <option value="female">Female</option>

              </select>
            </label>




          </div>
<br>
<br>


            <button class="button button-block button-positive" type="submit">Create</button>

        </div>
      </form>







  </ion-content>

</ion-view>
