<ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/tab/index">
    <ion-nav-view name="tab-index"></ion-nav-view>
  </ion-tab>






  <ion-tab title="Login" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>


  <ion-tab title="signup" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/tab/signup">
    <ion-nav-view name="tab-signup"></ion-nav-view>
  </ion-tab>
  

</ion-tabs>
