<ion-tabs class="tabs-positive tabs-icon-top">



  <ion-tab title="Add" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/tab/add">
    <ion-nav-view name="tab-add"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Intro" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/tab/intro">
    <ion-nav-view name="tab-intro"></ion-nav-view>
  </ion-tab>



  <ion-tab title="search" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Math" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/tab/math">
    <ion-nav-view name="tab-math"></ion-nav-view>
  </ion-tab>




  <ion-tab title="Main" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/tab/main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

</ion-tabs>
